// @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,800;1,200;1,300;1,400&display=swap');




*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   font-family:  Verdana, Geneva, Tahoma, sans-serif;
   font-size: inherit;
  
}



$bodyColor:#f5f5f5;
// $primary:#01476a;
// $primary:#000;
$primary:#01b2c4;
// $primary:#ff253a;
$sec : #fff;
$white: #fff;
$black: #000;
$grey: #434343;
$green : #2c9f45;


html{
   font-size: 62.5%;
}

body{
  
}